@font-face {
  font-family: "chelten-italic-400";
  src:
    local("chelten-italic-400"),
    url("./fonts/cheltenham-italic-400.woff2") format("woff2");
}

@font-face {
  font-family: "chelten-normal-200";
  src:
    local("chelten-normal-200"),
    url("./fonts/cheltenham-normal-200.woff2") format("woff2");
}

@font-face {
  font-family: "chelten-normal-300";
  src:
    local("chelten-normal-300"),
    url("./fonts/cheltenham-normal-300.woff2") format("woff2");
}

@font-face {
  font-family: "chelten-normal-500";
  src:
    local("chelten-normal-500"),
    url("./fonts/cheltenham-normal-500.woff") format("woff");
}

@font-face {
  font-family: "chelten-normal-700";
  src:
    local("chelten-normal-700"),
    url("./fonts/cheltenham-normal-700.woff2") format("woff2");
}

@font-face {
  font-family: "chelten-small-normal-700";
  src:
    local("chelten-small-normal-700"),
    url("./fonts/cheltenham-small-normal-700.woff2") format("woff2");
}

@font-face {
  font-family: "franklin-normal-300";
  src:
    local("franklin-normal-300"),
    url("./fonts/franklin-normal-300.woff") format("woff");
}

@font-face {
  font-family: "franklin-normal-500";
  src:
    local("franklin-normal-500"),
    url("./fonts/franklin-normal-500.woff2") format("woff2");
}

@font-face {
  font-family: "franklin-normal-600";
  src: 
    local("franklin-normal-600"),
    url("./fonts/franklin-normal-600.woff2") format("woff2");
}

@font-face {
  font-family: "franklin-normal-700";
  src:
    local("franklin-normal-700"),
    url("./fonts/franklin-normal-700.woff2") format("woff2");
}

@font-face {
  font-family: "imperial-normal-400";
  src:
    local("imperial-normal-400"),
    url("./fonts/imperial-normal-400.woff2") format("woff2");
}

@font-face {
  font-family: "karnak-normal-700";
  src:
    local("karnak-normal-700"),
    url("./fonts/karnak-normal-700.woff2") format("woff2");
}

@font-face {
  font-family: "roboto";
  src:
    local("roboto"),
    url("./fonts/roboto.woff2") format("woff2");
}


@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
 
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
 
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
 
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
 
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
 
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
 
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}